{% extends "web/base.html" %}
{% load static %}

{% block content %}
    <main id="main">
        <section id="login" class="contact">
            <div class="container">
                <div class="section-title" data-aos="">
                    <br>
                    <br>

                    <br>
                    <br>
                    <br>
                    <br>
                    {% block title %}{% endblock %}
                    {% block desc %}{% endblock %}
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12" data-aos="" data-aos-delay="300">
                    </div>
                    <div class="col-lg-4 col-md-12" data-aos="" data-aos-delay="300">
                        {% block form_section %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-4 col-md-12" data-aos="" data-aos-delay="300">
                    </div>
                </div>

            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}