{% extends "web/base_form_page.html" %}
{% load static %}

{% block title %}
    <h2>Login</h2>
    <span>Enter your credentials to continue:</span>
{% endblock %}

{% block form_section %}
    <form method="post" role="form" class="email-form">
        {% if  form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, error in form.errors.items %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="id_email"
                   placeholder="Email"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="id_password"
                   placeholder="Password"/>
        </div>
        <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="">
            <button type="submit">Login</button>
        </div>
        <div class="form-group">
            <br>
            <a href="{% url "web:register" %}" class="signup-image-link">Create an account</a>
            <br>
            <a href="{% url "web:password_reset" %}" class="signup-image-link">Forgot password?</a>
        </div>

    </form>

{% endblock %}