{% extends "web/base_form_page.html" %}
{% load static %}

{% block title %}
    <h2>Logged Out</h2>
    <span>You've now been logged out of your account.</span>
{% endblock %}
{% block form_section %}
{% endblock %}

{% block footer %}
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer-form-page" style="margin-top: 180px">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>Identipo</strong>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
{% endblock %}