{% extends "web/base_form_page.html" %}
{% load static %}

{% block title %}
    <h2>Forgot Password</h2>
    <span>Enter your email to continue:</span>
{% endblock %}

{% block form_section %}
    <form method="post" role="form" class="email-form">
        {% if  form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, error in form.errors.items %}
                    {{ form.errors }}
                {% endfor %}
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="id_email"
                   placeholder="Email" required/>
        </div>
        <div class="">
            <button type="submit">Send Me Link</button>
        </div>
    </form>
{% endblock %}