{% extends "web/base.html" %}
{% load i18n %}

{% block title %}
  <title>{% trans "Forgot Password" %}</title>
{% endblock %}


{% block content %}
  <main class="container-lg p-lg-0">
    <section class="d-flex justify-content-center">
      <div class="register_form m-0 shadow p-3 mt-3">
        <h3>{% trans "Password Change" %}</h3>
        <p>{% trans "Your new password is successfully set." %}</p>

        <button type="button"
                class="
                    btn btn-sm btn-bold
                    secondary-border
                    bg-secondary-color
                    justify-content-center
                    me-3
                  "
                onclick="location.href='{% url 'my:userProfile' %}';">
          {% trans "Back to Profile" %}
        </button>
      </div>
    </section>
  </main>
{% endblock %}
