{% extends "web/base_form_page.html" %}
{% load static %}

{% block title %}
    <h2>Set Password</h2>
    <span>Enter your new password to continue:</span>
{% endblock %}

{% block form_section %}
    <form method="post" role="form" class="email-form">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password"
                   required id="id_new_password1" aria-autocomplete="list" placeholder="New Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password"
                   required id="id_new_password2" aria-autocomplete="list"
                   placeholder="New Password Confirmation">
        </div>
        <div class="">
            <button type="submit">Set Password</button>
        </div>
    </form>

{% endblock %}