{% extends "web/base_form_page.html" %}
{% load static %}

{% block title %}
    <h2>Payment Successful</h2>
    <span>Your paid plan is now activated. Your payment invoice:</span>

    <section id="pricing" class="pricing" style="padding:0; margin-top:20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in-right"
                     data-aos-delay="80">
                    <div class="card">
                        <div class="card-body mx-4">
                            <div class="container">
                                <div class="row">
                                    <ul class="list-unstyled">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"
                                             fill="#2255e6" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                        </svg>
                                        <br>
                                        <br>
                                        <li class="text-muted mt-1"><span class="text-black">Invoice ID </span> {{ my_plan.payment.invoice_id }}</li>
                                        <li class="text-muted mt-1"><span
                                                class="text-black">Issue Date</span> {% now "Y-m-d" %}</li>
                                        <li class="text-black mt-1"></li>
                                    </ul>
                                    <hr>
                                    <div class="col-xl-10">
                                        <p>{{ my_plan.plan.title }} Plan</p>
                                    </div>
                                    <div class="col-xl-2">
                                        <p class="float-end">{{ my_plan.plan.currency.symbol }}{{ my_plan.plan.price }}.00
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                                {#      <div class="row">#}
                                {#        <div class="col-xl-10">#}
                                {#          <p>Support</p>#}
                                {#        </div>#}
                                {#        <div class="col-xl-2">#}
                                {#          <p class="float-end">$10.00#}
                                {#          </p>#}
                                {#        </div>#}
                                {#        <hr style="border: 2px solid black;">#}
                                {#      </div>#}
                                <div class="row text-black">

                                    <div class="col-xl-12">
                                        <p class="float-end fw-bold">Total: {{ my_plan.plan.currency.symbol }}{{ my_plan.plan.price }}.00
                                        </p>
                                    </div>
                                    <hr style="border: 2px solid black;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        </div>
    </section><!-- End Pricing Section -->

{% endblock %}

{% block form_section %}

{% endblock %}

{% block extrajs %}
    {#        <script>alert('HI')</script>#}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/payments.js' %}"></script>   <!-- new -->
{% endblock %}