{% extends "admin/index.html" %}
{% load static %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="alert alert-warning alert-dismissible">
            The dashboard is for non-superusers only. Please use the proper panel for administration purposes.
        </div>
    {% else %}
        {% if not request.user.is_limited %}
            {% include 'dashboard/reports_content.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extrahead %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="{% static "dashboard/js/charts.js" %}"></script>
{% endblock %}